@page "/empresas"
@rendermode InteractiveServer

@inject EmpresaService empresaService
@inject TelefoneEmpresaService telefoneEmpresaService

<title>Empresas</title>

<Cabecalho Titulo="Empresas" />

@if (empresas != null)
{
  <div class="table-responsive">
    <table class="table table-responsive-sm align-middle table-hover">
        <thead class="table-dark">
            <tr>
                <th>Razão Social</th>
                <th>CNPJ</th>
                <th>Email</th>
                <th>Telefones</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var empresa in empresas)
            {
                @if (!MostrarInativas && empresa.Status == 1)
                {
                 <tr>
                    
                    <td><a class="text-dark" href="testes" style="text-decoration: none;">@empresa.RazaoSocial</a></td>
                    <td>@empresa.CNPJ</td>
                    <td>@empresa.Email</td>
                    <td>
                    @foreach (var telefone in telefonesEmpresas)
                        {
                            @if (telefone.EmpresaId == empresa.Id)
                            {
                               @telefone.NroTelefone<br>
                            }
                        }
                    </td>
                    <td>Ativa</td>
                </tr>
                }
                else if (MostrarInativas && empresa.Status == 0)
                {
                    <tr>
                    
                    <td><a href="testes">@empresa.RazaoSocial</a></td>
                    <td>@empresa.CNPJ</td>
                    <td>@empresa.Email</td>
                    <td>
                    @foreach (var telefone in telefonesEmpresas)
                        {
                            @if (telefone.EmpresaId == empresa.Id)
                            {
                               @telefone.NroTelefone<br>
                            }
                        }
                    </td>
                    <td>Inativa</td>
                </tr>
                }
            }
        </tbody>
    </table>
  </div>
}
else
{
    <p>Carregando empresas...</p>
}

@code {
  public TelefoneEmpresa telefoneEmpresa = new TelefoneEmpresa();
  public Empresa empresa = new Empresa();
  [Parameter]
  public Guid empresaId { get; set; }
  private List<TelefoneEmpresa> telefonesEmpresas;
  private List<Empresa> empresas;
  protected override async Task OnInitializedAsync()
  {
      telefonesEmpresas = await telefoneEmpresaService.GetTelefonesEmpresasAsync();
      empresas = await empresaService.GetEmpresasAsync();
  }
/*
    public async Task OnSave()
    {
        await empresaService.CriarEmpresaAsync(null);
        empresas = await empresaService.GetEmpresasAsync();
    }
*/
  [Parameter]
  public bool MostrarInativas { get; set; }
  
  private void EmpresasInativas()
  {
      MostrarInativas = !MostrarInativas;
  }
}
